/* CARD */

.card{
    padding:0px;
    margin-top: 25px;
    font-family: 'Calistoga', cursive;
    border: 0.5px solid #35495e;
    background-color: #35495e;
    color: white;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);
}

.card-head{
    float: right;
    width: 100%;
}

.card-items
{
    color:white;
    font-size: 13px;
    padding: 0px 3px;
    float:right;
}

.card-body-title {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    /* padding:20px; */
}

.card-body-description {
    color: white;
    font-size:12px;
    font-style: italic;
    padding:10px 0px;
}

.card-items:hover{
    cursor: pointer;
}

/* END CARD */


/* RESPONSE CARDS */
#card-response-form{
    margin-top:40px;
    width: 100%;
    padding: 0px;
    color:#35495e;
    cursor: pointer;
}

.check-response{
    padding: 0 5px 0 0;
    color: #35495e;
}

.card-responses-item{
    color: #35495e;
    margin: 0px 0px 10px 0px;
    border-color: #35495e;
    border-radius: 0.25rem;
}

.card-responses-item:hover,
.card-response-selected{ 
    background-color: #35495e;
    color: white;
    transition: 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
}

.card-responses-item:hover > .check-response,
.card-response-selected > .check-response{
    color: white !important;
}

/* ul */
#card-responses-body{
    padding: 0px;
}
/* END RESPONSE CARDS */